/* ESTILO GERAL */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0e4dc;
  color: #a43f3a;
  line-height: 1.6;
}

/* CABEÇALHO */
header {
  background-color: #f06292;
  color: rgb(237, 234, 234);
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
  font-size: 42px;
}

header p {
  font-size: 18px;
}

/* SEÇÕES */
section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

section h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* SOBRE */
.sobre p {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

/* GALERIA */
.galeria .imagens {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.galeria img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
}

/* CONTATO */
.contato {
  text-align: center;
}

.botao-whatsapp {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #00c853;
  color: rgb(246, 241, 241);
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.botao-whatsapp:hover {
  background-color: #00b44b;
}

/* RODAPÉ */
footer {
  background-color: #f06292;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
section h2 {
  color: #f06292;
}

section {
  background-color: #f0e4dc(255,255,255,0.6);
  border-radius: 16px;
  padding: 30px 25px;
}

.galeria img {
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.galeria img:hover {
  transform: scale(1.03);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 32px;
  }

  section {
    margin: 20px 10px;
  }

  .galeria img {
    width: 100%;
    height: auto;
  }
}
